*{
  margin:0;
  padding:0;
  border-sizing:border-box;
}
body{
  background-color:light gray;
}
.grid-container{
  display:grid;
  grid-template-columns:100px 200px;
  grid-template-rows:50px 100px 50px;
  gap:10px;
  grid-auto-rows: 50px;
  margin: 10px 10px;
  
}

.item{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#3498db;
  color:white;
  border-radius:5px;
}
.item1{
  grid-column: span 2;
}
.item2{
  grid-row: span 2; 
}
.item3{
  grid-row: span 2;
  background-color:#2ecc71;
}
.item4{
  grid-column: span 2;
}
