*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Times New Roman;
}
body{
  background-color:#ADD8E6;
  height:100vh;
}
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
h1{
  text-align:center;
  font-size:45px;
  margin-block-start:25px;
  margin-block-end:25px;
}

input{
  border:1px solid lightgray;
}
input:hover{
  border:1px solid black;
}
.card{
  background-color:#f2f2f2;
  width:800px;
  height:750px;
  border-radius:15px;
}
.card p{
  font-size:23px;
  text-align:center;
  margin-block-start:30px;
  
}
.radio-container{
  display:flex;
  align-items:center;
  gap:10px;
}
.section1{
  margin-block-start:45px;
  margin-inline-end:140px;
  padding-inline-start:10px;
}
.checkbox-container{
  display:flex;
  align-items:center;
  gap:10px;
}
.checkbox-container p{
  margin-block-start:0px;
  font-size:18px;
  margin-inline-start:100px;
}
.check-box-container label1{
  margin-block-start:45px;
}
.section2{
  margin-block-start:45px;
  margin-inline-end:140px;
}
textarea{
  width:300px;
  height:60px;
}
.textarea-container{
  display:flex;
  align-items:center;
  gap:10px;
}
.section3{
   margin-block-start:40px;
}
form{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:18px;
}
.text input[type="text"]{
  margin-inline-start:15px;
}
.text input {
  width:272px;
  padding:7px;
}
.abcd{
  margin-inline-start:250px;
}
#dropdown{
  border:1px solid lightgray;
  background-color:#fff;
}
#dropdown:hover{
  border:1px solid black;
}
select{
  padding:10px;
  margin-inline-start:15px;
}
textarea{
  font-size:15px;
  padding:5px;
  margin-inline-end:5px;
  border:1px solid lightgray;
}
textarea:hover{
  border:1px solid black;
}
.myclass{
  margin-inline-end:15px;
}
.button-class{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-block-start:30px;
}
button{
  padding:12px;
  font-size:15px;
  border-radius:5px;
  border:#7da7cf;
  background-color:#7da7cf;
  color:#fff;
}


