* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    inline-size: 100%;
    block-size: 100vh;
    font-family: sans-serif;
     writing-mode: vertical-rl;
}
.container {
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}


.card {
    position: relative;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    inline-size: 320px;
    block-size: 16vh;
    padding-inline-start: 20px;
    border-block-start: 3px solid red;
}
.label {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    background-color: red;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding-inline-start: 12px;
    padding-inline-end: 15px;
    padding-block-start: 7px;
    padding-block-end: 7px;
    font-size: 12px;
    color: white;
    font-weight: 200;
}
.info h2 {
    font-size: 18px;
    margin-block-end: 3px;
} 