html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #000;
  color: #fff;
  width:100%;
  height:40vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://assets.nflxext.com/ffe/siteui/vlv3/154a9550-ce07-4e28-819c-63185dd849f8/web/IN-en-20250106-TRIFECTA-perspective_27b02e7c-f668-4639-9e82-1a5485084b2a_large.jpg);
}
.language,.sign-in,.logo{
  display: inline-block;
}
.sign-in{
  position: absolute;
  right:0px;
  top:35px;
  border-radius: 5px;
}
.sign-in:hover{
  transform:scale(1.15);
}
.language{
  position: absolute;
  right:85px;
  top:35px;
}
button{
  background-color:red;
  color:white;
  padding:9px;
  margin:7px;
  border:none;
  display:block;
}
h1,p{
  text-align: center;
}
.get-started,.email{
  display:flex;
  justify-content: center;
}
#email{
  background-color: black;
  color:white;
  border:2px solid grey;
  padding:7px;
  margin:7px;
  width:300px;
  height:30px;
  border-radius:5px;
}
#get-started{
  border-radius:5px;
  width:150px;
  height:40px;
}
.get-started:hover{
  transform:scale(1.15);
}
select{
 background-color:rgb(0,0,0);
  color:white;
  border:2px solid grey;
  padding:7px;
  margin:7px;
  display:block;
  justify-content: center;
  width:90%;
  border-radius: 5px;
}
.card-container{
  display:inline-block;
  padding: 10px 0px 0px 0px;
}
.card-container{
  display:flex;
  flex-wrap:wrap;
}
.card-container:hover{
  transform:scale(1.15);
}
.Amaran:hover{
transform:scale(1.15);
}

.Arm:hover{
transform:scale(1.15);
}
.jeo:hover{
transform:scale(1.15);
}
.lucky:hover{
transform:scale(1.15);
}
.miss:hover{
transform:scale(1.15);
}
.new:hover{
transform:scale(1.15);
}
.card-container{
  scroll-behaviour:smooth;
}
.section{
  box-sizing:border-box;
  box-shadow:0px 0px 10px grey;
  padding: 20px;
  margin:15px;
  color:white;
  border-radius:5px;
  background: rgb(17,15,26);
background: linear-gradient(90deg, rgba(17,15,26,1) 15%, rgba(93,36,169,1) 93%);
   height:230px;
}
.icon{
  position:absolute;
  right:15px;
}
.section:hover{
  transform:scale(1.05);
}
.section h2 p{
 text-align:left; 
}
.faq h2{
  text-align:center;
  font-weigjt:500
  font-size:40px;
}
.faq-list{
  margin:60px auto
  width:100%;
  max-width:750px;
}
.faq-list li{
  list-style:none;
  width:100%;
  padding:5px;
}
.faq-list li label{
  display:flex;
  align-items:center;
  padding:20px;
  font-size:18px;
  font-weight:500;
  background:#303030;
  margin-bottom:2px;
  cursor:pointer;
  position:relative;
}
label::after{
  content:"+";
  font-size:34px;
  position:absolute;
  right:20px;
  transition:transform 0.5s;
}
input[type="radio"]{
  display:none;
}
.faq-list .faq-content{
  background:#303030;
  text-align:left;
  padding:0 20px;
  max-height:0;
  overflow:hidden;
  transition:max-height 0.5s, padding 0.5s;
}

.faq-list input[type="radio"]:checked + label + .faq-content{
  max-height:600px;
  padding: 30px 20px;
}
.faq-list input[type="radio"]:checked + label::after{
  transform: rotate(135deg);
}
 .faq #email{
  max-width:600px;
}
.footer{
  padding:50px 15% 10px;
  border-top:6px solid #333;
  color:#777;
}
.footer .col{
  flex-basis:25%;
  flex-grow:1;
  margin-bottom:20px;
}
.footer .col a{
  display:block;
  text-decoration:none;
  color:#777;
  font-size:14px;
  margin-bottom:10px;
}
.footer .row{
  align-items: flex-start;
  padding: 10px 0;
}
.row{
  display:inline-block;
  margin:5px;
}
.option{
  display:flex;
  justify-content:center;
  width:20%;
  height:5%;
  margin:auto;

}
.footer{
  color:#808080;
  text-decoration:underline;
  margin-top:2.5rem;

}
.foo p{
  text-align:center;
  color:#808080;
}
.footer a{
  color:#808080
}

