*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  width:100vh;
}
.header{
  text-align:center;
  position:sticky;
  top:0;
  background-color:blue;
  color:white;
  width:130%;
  padding-block:10px;
}
.sidebar{
  width:150px;
  height:80vh;
  overflow-y:auto;
  position:fixed;
  top:38px;
  background-color:black;
  color:white;
}
a{
 text-decoration:none;
  color:white;
}
article{
  height:200vh;
}
main{
  position:relative;
  margin-inline-start:80px;
  left:100px;
  top:40px;
}
