*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#f4f4f4;
  font-family:Arial,sans-serif;
  height:100vh;
}
.card{
  diaplay:flex;
  justify-items:center;
  position:relative;
  background-color:white;
  width:250px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  padding:35px;
}
img{
  width:100px;
  height:100px;
  border-radius:50%;
}
.online{
  position:absolute;
  right:10px;
  top:15px;
  background-color:green;
  color:white;
  padding:5px;
  border-radius:10px;
}
h1{
  font-size:20px;
  margin-block-end:10px;
}